.contact__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 7rem;
    padding-bottom: 3rem;
}

.contact__title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.contact__img {
    margin-top: 2.5rem;
    width: 400px;
    height: 400px;
    border-radius: 50px;
}

.contact__info {
    display: grid;
    row-gap: 1rem;
}

.contact__button {
    height: 3rem;
    width: auto;
}

.contact__icons {
    margin-left: 1rem;
}

.contact__form {
    width: 360px;
}

.contact__form-div {
    position: relative;
    margin-bottom: var(--mb-2);
    height: 2rem;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0,0,0,0.3);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: 0.5rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact__form-input:focus{
    border: 2px solid #60A7FF;
}

.contact__form-tag {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact__form-area {
    height: 11rem;
}

.contact__form-area textarea {
    resize: none;
}

.contact_content {
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .contact__container {
        grid-template-columns: repeat(1, max-content);
        row-gap: 2rem;
    }

    .contact__img {
        width: 350px;
        height: 350px;
    }

    .contact__form {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .contact__container {
        grid-template-columns: repeat(1, max-content);
        row-gap: 2rem;
    }

    .contact__img {
        width: 300px;
        height: 300px;
    }

    .contact__form {
        width: 300px;
    }
}