.home {
  height: 100vh;
}

.home__container {
  row-gap: 7rem;
}

.home__content {
  display: flex;
  justify-content: space-between;
  padding-top: 5.5rem;
}

.home__social {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  /* justify-content: center; */
}

.home__social-icons {
  font-size: 1.5rem;
  color: var(--title-color);
}

.top-margin {
  margin-top: 0.2rem;
}

.home__social-icons:hover {
  color: var(--title-color-dark);
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
}

.home__subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home__description {
  max-width: 400px;
  margin-bottom: var(--mb-3);
}

.home__img {
  background: url(../images/Main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 350px;
  border-radius: 2rem;
  order: 1;
  justify-self: center;
}

.home__icons {
  margin-left: 0.5rem;
}

@media (max-width: 1200px) {
  .home__container {
    height: fit-content;
  }

  .home__content {
    flex-direction: row;
    align-items: center;
    padding-top: 3.5rem;
  }

  

  .home__data {
    width: 100%;
    max-width: 500px;
    margin-left: 125px;
    display: flex;
    flex-direction: column;
  }

  .home__data .button {
    width: 100%;
    max-width: 150px;
  }

  .home__social {
    flex-direction: row;
    margin-top: 0;
  }

  .home__social-icons {
    margin-right: 1.5rem;
  }

  .home__social-icons:last-child {
    margin-right: 0;
  }

  .home__subtitle {
    margin-bottom: var(--mb-1);
  }

  .home__description {
    margin-bottom: var(--mb-2-5);
  }
}

@media (max-width: 992px) {
  .home__container {
    height: fit-content;
  }

  .home__content {
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    justify-content: center;
  }

  .home__img {
    width: 300px;
    height: 300px;
    order: initial;
  }

  .home__data {
    width: 100%;
    max-width: 350px;
    order: initial;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__data .button {
    width: 100%;
    max-width: 150px;
  }

  .home__social {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .home__social-icons {
    margin-right: 1.5rem;
  }

  .home__social-icons:last-child {
    margin-right: 0;
  }

  .home__subtitle {
    margin-bottom: var(--mb-1);
    justify-content: center;
    align-items: center;
  }

  .home__description {
    margin-bottom: var(--mb-2-5);
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .home__content {
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
  }

  .home__img {
    order: initial;
    justify-self: initial;
    width: 300px;
    height: 300px;
  }

  .home__data {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 350px) {
  .home__img {
    width: 180px;
    height: 180px;
    box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
  }
}
