.portfolio__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: var(--mb-2);
}

.portfolio__item {
  color: var(--title-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
}

.portfolio__item:hover {
  background-color: var(--title-color);
  color: #fff;
}

.portfolio__container {
  grid-template-columns: repeat(3, max-content);
  gap: 3rem;
  justify-content: center;
}

.portfolio__card {
  background-color: var(--fcontainer-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  border-radius: 1rem;
}

.portfolio__img {
  width: 295px;
  border-radius: 1rem;
  margin-bottom: var(--mb-1);
}

.portfolio__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.portfolio__button {
  color: var(--text-color);
  font-size: var(--medium-font-size);
  /* display: flex; */
  align-items: center;
  column-gap: 0.25rem;
}

.portfolio__button__readmore {
  color: black;
  font-size: 1rem;
  align-items: center;
  column-gap: 0.25rem;
}

.active-portfolio {
  background-color: var(--title-color);
  color: var(--container-color);
}


/* Adjust styles as needed */


@media (max-width: 1300px) {
  .portfolio__container {
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
  }
}

@media (max-width: 992px) {
  .portfolio__container {
    grid-template-columns: repeat(1, max-content);
    gap: 2rem;
  }
}
