.resume {
  color: var(--title-color);
  font-family: Arial, sans-serif;
  padding: 40px;
}

.resume__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 10px;
}

.resume-subtitle {
  font-size: var(--normal-font-size);
  color: #6c757d;
  display: block;
  margin-bottom: var(--mb-1);
}

.resume__container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem; 
}

.resume__column {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.resume__item {
  padding: 20px;
  border-left: 2px solid var(--title-color-dark);
  position: relative;
  margin-bottom: 20px;
  color: var(--title-color);
  opacity: 90%;
}

.resume__item h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.resume__item h5 {
  font-size: var(--small-font-size);
  /* padding: 5px; */
  display: inline-block;
  font-weight: bold;
  margin-bottom: 10px;
}

.resume__item p em {
  font-style: italic;
}

.resume__item::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid var(--title-color-dark);
}

/* Media queries */
@media (max-width:992px) {
  .resume__container {
    margin-left: 7.5rem;
  }
}

@media (max-width: 768px) {
  .resume__column {
    width: 100%;
  }
  .resume__container {
    grid-template-columns: 1fr;
    margin-left: 1rem;
  }
}
